{% extends "base.html" %}

{% block title %}Favorite Comments - HackerTimes{% endblock %}

{% block content %}
    <!-- Navigation Bar for Favorites -->
    <div style="margin-bottom: 15px; padding-left: 40px;">
        <a href="{% url 'news:favoriteNews_list' %}?id={{ viewing_user }}" style="color: #828282;">submissions</a> |
        <a href="{% url 'news:favoriteComments_list' %}?id={{ viewing_user }}" style="color: #828282;">comments</a>
    </div>
    <div style="all: revert; list-style-type: none; margin: 0; content: none;">
        {% load static %}

        {% if viewing_user %}
            {% for comment in favorite_comments %}
                <li class="commentListClass">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse; border-spacing: 0;">
                        <tbody>
                            <tr>
                                <td>
                                    <button class="vote-btn" data-comment-id="{{ comment.id }}" style="border: none; background: none; padding: 0; cursor: pointer; margin: 3px 2px 6px;">
                                        {% if not comment.user_has_voted %}
                                            <a href="{% url 'news:vote_comment' comment.id %}">
                                                <img src="https://hn12c-hackertimes.s3.us-east-1.amazonaws.com/static/triangle.svg" width="10" height="10" align="left" valign="center" style="border: 0;">
                                            </a>   
                                        {% endif %}
                                    </button>
                                    <span class="comhead" style="padding: 0; margin: 0;">
                                        <a href="/user/{{ comment.author.username }}/" style="color:#828282">{{ comment.author.username }}</a>
                                        <a href="{% url 'news:comment_context' comment.New.id comment.id %}" style="color: #828282;">
                                            {{ comment.published_date|timesince }} ago
                                        </a> |
                                        {% if comment.user_has_voted %}
                                            <a href="{% url 'news:vote_comment' comment.id %}">unvote</a> |
                                        {% endif %}
                                        {% if comment.parent %}
                                            <a href="{% url 'news:comment_context' comment.New.id comment.parent.id %}" style="color:#828282">parent</a>
                                        {% else %}
                                            <a href="{% url 'news:item_detail' comment.New.id %}" style="color:#828282">parent</a>
                                        {% endif %} 
                                        | context | on: <a href="{% url 'news:item_detail' comment.New.id %}" style="color:#828282">{{ comment.New.title }}</a>
                                        <br>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td class="titleline" style="padding: 0; margin: 0; border: none;">
                                    <span class="titleline" style="padding: 0; margin: 0; color: black;">
                                        &nbsp;&nbsp;&nbsp; {{ comment.text }}
                                    </span>
                                </td>
                            </tr>
                            <tr class="spacer" style="height: 15px"></tr>
                        </tbody>
                    </table>
                </li>
            {% empty %}
                <li style="margin-left: 40px; color: #828282;">
                    {% if viewing_user == request.session.user_data.given_name %}
                        To add a comment here, click on its timestamp to go to its page, then click 'favorite' at the top.
                    {% else %}
                        The user has no favorite comments.
                    {% endif %}
                </li>
            {% endfor %}
        {% else %}
            <li style="margin-left: 40px; color: #828282;">
                No user specified. Please provide a valid username to view favorites.
            </li>
        {% endif %}
    </div>
{% endblock %}
