{% extends "base.html" %}
{% block title %}{{ item.title }} | HackerTimes{% endblock %}
{% block content %}

<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse; border-spacing: 0;">
  <tbody>
    <tr>
      <td class="titleline" style ="margin-left: 15px;">
        <img src="https://hn12c-hackertimes.s3.us-east-1.amazonaws.com/static/triangle.svg" width="10" height="10" align="left" valign="center" style=" border:0px; margin:3px 2px 6px;">
        {% if item.url %}
          <a href="{{ item.url }}" style="color:#000000">{{ item.title }}</a>
          {% if item.urlDomain %}
            <span class="comhead">({{ item.urlDomain }})</span>
          {% endif %}
        {% else %}
          <span style="color:#000000">{{ item.title }}</span>
        {% endif %}
      </td>
    </tr>
    <tr>
      <td class="subtext">
        <span class="subtext" style="margin-left: 15px;">
          {{ item.points }} points by <a href="{% url 'news:user_profile' %}?username={{ item.author.username }}">{{ item.author.username }}</a>
          {{ item.published_date|timesince }} ago
          {% if request.session.user_data.given_name == item.author.username %}
            | <a href="{% url 'news:edit_news' item.id %}">edit</a>
            | <a href="{% url 'news:delete_news' item.id %}">delete</a>
          {% endif %}
        </span>
      </td>
    </tr>
    {% if item.text %}
    <tr>
      <td class="comment-content" style="padding-left: 15px; margin-top: 5px;">
        {{ item.text }}
      </td>
    </tr>
    {% endif %}
  </tbody>
</table>

{% if user_data %}
<form method="post" style="margin: 20px 0 0 40px">
  {% csrf_token %}
  <textarea name="text" rows="6" cols="60" required></textarea>
  <br><br>
  <input type="submit" value="add comment">
</form>
{% else %}
<p style="margin-left: 40px"><a href="{% url 'news:login' %}">Login</a> to comment.</p>
{% endif %}

{% if comments %}
<br>
<table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin: 10px 0;">
  {% for comment in comments %}
  {% if not comment.parent %}  {# Solo mostrar comentarios principales #}
  <tr>
    <td style="padding-left: 40px;">
      <!-- Comentario principal -->
      <img src="https://hn12c-hackertimes.s3.us-east-1.amazonaws.com/static/triangle.svg" width="10" height="10" align="left" valign="center" style="border:0px; margin:3px 2px 6px;">
      <div class="comhead" style="color: #828282; margin-bottom: 6px;">
        {{ item.points }} points by <a href="{% url 'news:user_profile' %}?username={{ comment.author.username }}" style="color: #828282">{{ comment.author.username }}</a>
        {{ comment.published_date|timesince }} ago |
        {% if request.session.user_data.given_name == comment.author.username %}
          <a href="{% url 'news:edit_comment' comment.id %}">edit</a> |
          <a href="{% url 'news:delete_comment' comment.id %}" onclick="return confirm('Are you sure?')" style="color: #828282">delete</a>
        {% endif %}
      </div>
      <div id="comment-text-{{ comment.id }}" class="comment-text" style="margin-bottom: 15px; color: #000000;">
        {{ comment.text }}
      </div>
      
      {% if user_data %}
      <div style="margin: -10px 0 15px 0">
        <a href="javascript:void(0)" onclick="showReplyForm('{{ comment.id }}')" style="margin-left: 15px; color: #000000; font-size: 10px;"><u>reply</u></a>
      </div>
      <form id="replyform-{{ comment.id }}" method="post" style="display: none; margin: 10px 0 15px 40px;">
        {% csrf_token %}
        <input type="hidden" name="parent_id" value="{{ comment.id }}">
        <textarea name="text" rows="6" cols="60" required></textarea>
        <br><br>
        <input type="submit" value="reply">
      </form>
      {% endif %}

      <!-- Respuestas al comentario principal -->
      {% if comment.replies.all %}
      <table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin-left: 40px;">
        {% for reply in comment.replies.all %}
        <tr>
          <td>
            <img src="https://hn12c-hackertimes.s3.us-east-1.amazonaws.com/static/triangle.svg" width="10" height="10" align="left" valign="center" style="border:0px; margin:3px 2px 6px;">
            <div class="comhead" style="color: #828282; margin-bottom: 6px;">
              {{ item.points }} points by <a href="{% url 'news:user_profile' %}?username={{ reply.author.username }}" style="color: #828282">{{ reply.author.username }}</a>
              {{ reply.published_date|timesince }} ago |
              <a href="{% url 'news:comment_context' item.id reply.parent.id %}" style="color: #828282">parent</a> |
              {% if request.session.user_data.given_name == reply.author.username %}
                <a href="{% url 'news:edit_comment' reply.id %}">edit</a> |
                <a href="{% url 'news:delete_comment' reply.id %}" onclick="return confirm('Are you sure?')" style="color: #828282">delete</a>
              {% endif %}
            </div>
            <div id="comment-text-{{ reply.id }}" class="comment-text" style="margin-bottom: 15px; color: #000000;">
              {{ reply.text }}
            </div>

            {% if user_data %}
            <div style="margin: -10px 0 15px 0">
              <a href="javascript:void(0)" onclick="showReplyForm('{{ reply.id }}')" style="margin-left: 15px; color: #000000; font-size: 10px;"><u>reply</u></a>
            </div>
            <form id="replyform-{{ reply.id }}" method="post" style="display: none; margin: 10px 0 15px 40px;">
              {% csrf_token %}
              <input type="hidden" name="parent_id" value="{{ reply.id }}">
              <textarea name="text" rows="6" cols="60" required></textarea>
              <br><br>
              <input type="submit" value="reply">
            </form>
            {% endif %}

            <!-- Respuestas anidadas adicionales -->
            {% if reply.replies.all %}
              {% include "comment_tree.html" with comment=reply %}
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>
      {% endif %}
    </td>
  </tr>
  {% endif %}
  {% endfor %}
</table>
{% endif %}

<script>
function showReplyForm(commentId) {
    const form = document.getElementById('replyform-' + commentId);
    if (form.style.display === 'none') {
        form.style.display = 'block';
    } else {
        form.style.display = 'none';
    }
}

function showEditForm(commentId) {
    document.getElementById(commentId + '-text').style.display = 'none';
    document.getElementById(commentId + '-edit').style.display = 'block';
}

function cancelEdit(commentId) {
    document.getElementById(commentId + '-text').style.display = 'block';
    document.getElementById(commentId + '-edit').style.display = 'none';
}
</script>

{% endblock %}