{% extends "base.html" %}

{% block title %}Newest News - HackerTimes{% endblock %}

{% block content %}
    <ol>
        {% for news in newest_list %}
        <li>
            <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse; border-spacing: 0;">
                <tbody>
                    <tr>
                        <td class="titleline">
                            <button class="vote-btn" data-news-id="{{ new.id }}" style="border: none; background: none; padding: 0; cursor: pointer; margin: 3px 2px 6px;">
                                {% if not news.user_has_voted and request.session.user_data.given_name != news.author.username%}
                                    <a href="{% url 'news:vote' news.id %}">
                                        <img src="https://hn12c-hackertimes.s3.us-east-1.amazonaws.com/static/triangle.svg" width="10" height="10" align="left" valign="center" style="border: 0;">
                                    </a>   
                                {% endif %}
                            </button>
                            <span class="titleline">
                                {% if news.url %}
                                    <a href="{{ news.url }}" style="color:#000000">{{ news.title }}</a>
                                    {% if news.urlDomain %}
                                        <span class="comhead">({{ news.urlDomain }})</span>
                                    {% endif %}
                                {% else %}
                                    <a href="{% url 'news:item_detail' news.id %}" style="color:#000000">{{ news.title }}</a>
                                {% endif %} 
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="subtext">
                            <span class="subtext">
                                {{ news.points }} points by <a href="{% url 'news:user_profile' %}{{ news.author.username }}/"> {{ news.author.username }}</a>
                                <a href="{% url 'news:item_detail' news.id %}"> {{ news.published_date|timesince }} ago |</a>
                                {% if news.user_has_voted %}
                                    <a href="{% url 'news:vote' news.id %}">unvote</a> |
                                {% endif %}
                                <a href="{% url 'news:hide_submission' news.id %}?next=news:newest_news">hide</a> | 
                                <a href="{% url 'news:item_detail' news.id %}">
                                    {% with comment_count=news.comments_set.count %}
                                        {% if comment_count == 0 %}
                                            discuss
                                        {% else %}
                                            {{ comment_count }} comment{{ comment_count|pluralize }}
                                        {% endif %}
                                    {% endwith %}
                                </a>
                                {% if request.session.user_data.given_name == news.author.username %}
                                    | <a href="{% url 'news:edit_news' news.id %}">edit</a>
                                    | <a href="{% url 'news:delete_news' news.id %}">delete</a>
                                {% endif %}
                            </span>
                        </td>
                    </tr>
                    <tr class="spacer" style="height:5px"></tr>
                </tbody>
            </table>
        </li>
    
    {% empty %}
        <li>No news available.</li>
    {% endfor %}
    </ol>
{% endblock %}
