<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HackerTimes</title>    
    <style>
        body { font-family: Arial, sans-serif; }
    </style>

</head>
<body>
    <center>
        <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
            <tbody>
                <tr>
                    <td bgcolor="#ff6600"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px"><tbody><tr><td style="width:18px;padding-right:4px"><a href="https://news.ycombinator.com"><img src="y18.svg" width="18" height="18" style="border:1px white solid; display:block"></a></td>
                    <td style="line-height:12pt; height:10px;"><span class="pagetop"><b class="hnname"><a href="news">Hacker News</a></b>
                                            <a href="newest">new</a> | <a href="front">past</a> | <a href="newcomments">comments</a> | <a href="ask">ask</a> | <a href="show">show</a> | <a href="jobs">jobs</a> | <a href="submit" rel="nofollow">submit</a>            </span></td><td style="text-align:right;padding-right:4px;"><span class="pagetop">
                                            <a href="login?goto=news">login</a>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <tr id="pagespace" title="" style="height:10px"></tr>
                <tr>
                    <td>
                        <table border="0" cellpadding="0" cellspacing="0">
                            <ul>
                                {% for new in New %}
                                <li>  {{ new.title }} by {{ new.author }} (Published: {{ book.published_date }})

                                    <tr class='new' id={{ new.id }}>
                                        <td align="right" valign="top" class="title">
                                            <span class="rank">1.</span>
                                        </td>
                                        <td valign="top" class="votelinks">
                                            <center>
                                                <a id=new.id href='vote?id=41846780&amp;how=up&amp;goto=news'>
                                                    <div class='votearrow' title='upvote'></div>
                                                </a>
                                            </center>
                                        </td>
                                        <td class="title">
                                            <span class="titleline">
                                                <a href=new.url>new.title</a>
                                                <span class="sitebit comhead">
                                                    (
                                                    <a href="from?site=browser.engineering">
                                                        <span class="sitestr">browser.engineering</span>
                                                    </a>
                                                    )
                                                </span>
                                            </span>
                                        </td>
                                    </tr>

                                    <tr class="spacer" style="height:5px"></tr>
                                </li>
                                {% empty %}
                                    <li>No news available.</li>
                                {% endfor %}

                              
                            </ul>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </center>
</body>
</html>