{% extends "base.html" %}

{% load static %}

{% block title %}User Profile - Hacker News{% endblock %}

{% block content %}
    <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
        <tbody>
            <tr id="pagespace" title="" style="height:10px"></tr>
            <tr>
                <td>
                    <table border="0">
                        <tbody>
                            <tr class="athing">
                                <td valign="top">user:</td>
                                <td timestamp="1557689318">
                                    <a href="/user/?username={{ user_data.name }}" class="hnuser">{{ user_data.name }}</a>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">created:</td>
                                <td>
                                   {{ user_data.created_at }}
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">karma:</td>
                                <td>{{ user.karma }}</td>
                            </tr>
                            <tr>
                                <td valign="top">about:</td>
                                <td style="overflow:hidden"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <a href="/?id={{ user_data.name }}"><u>submissions</u></a>
                                </td>
                            </tr>
                            {% if hidden_count > 0 %}
                                <tr>
                                    <td></td>
                                    <td>
                                        <a href="{% url 'news:hidden_submissions' %}"><u>hidden</u></a>
                                    </td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                    <br><br>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
