{% extends 'base.html' %}
{% block title %}Voted News - HackerTimes{% endblock %}

{% block content %}
    <div>
        {% load static %}

        {% if request.session.user_data %}
            <ol type="1">
                {% for new in voted_news %}
                    <li>
                        <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse; border-spacing: 0;">
                            <tbody>
                                <tr>
                                    <td class="titleline">
                                        <button class="vote-btn" data-news-id="{{ new.id }}" style="border: none; background: none; padding: 0; cursor: pointer; margin: 3px 2px 6px;">
                                            {% if not new.user_has_voted %}
                                                <a href="{% url 'news:vote' new.id %}">
                                                    <img src="https://hn12c-hackertimes.s3.us-east-1.amazonaws.com/static/triangle.svg" width="10" height="10" align="left" valign="center" style="border: 0;">
                                                </a>
                                            {% endif %}
                                        </button>
                                        <span class="titleline">
                                            {% if new.url %}
                                                <!-- If it is a news link -->
                                                <a href="{{ new.url }}" style="color:#000000">{{ new.title }}</a>
                                                {% if new.urlDomain %}
                                                    <span class="comhead">({{ new.urlDomain }})</span>
                                                {% endif %}
                                            {% else %}
                                                <!-- If it is an ask post -->
                                                <a href="{% url 'news:item_detail' new.id %}" style="color:#000000">{{ new.title }}</a>
                                            {% endif %}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subtext">
                                        <span class="subtext">
                                            {{ new.points }} points by 
                                            {{ new.points }} points by <a href="{% url 'news:user_profile' %}{{ new.author.username }}/"> {{ new.author.username }}</a>
                                            <a href="{% url 'news:item_detail' new.id %}"> {{ new.published_date|timesince }} ago</a> |
                                            {% if new.user_has_voted %}
                                                <a href="{% url 'news:vote' new.id %}">unvote</a> |
                                            {% endif %}
                                            <a href="{% url 'news:hide_submission' new.id %}">hide</a> |
                                            <a href="{% url 'news:item_detail' new.id %}">
                                                {% with comment_count=new.comments_set.count %}
                                                    {% if comment_count == 0 %}
                                                        discuss
                                                    {% else %}
                                                        {{ comment_count }} comment{{ comment_count|pluralize }}
                                                    {% endif %}
                                                {% endwith %}
                                            </a>
                                            {% if request.session.user_data.given_name == new.author.username %}
                                                | <a href="{% url 'news:edit_news' new.id %}">edit</a>
                                                | <a href="{% url 'news:delete_news' new.id %}">delete</a>
                                            {% endif %}
                                        </span>
                                    </td>
                                </tr>
                                <tr class="spacer" style="height:5px"></tr>
                            </tbody>
                        </table>
                    </li>
                {% empty %}
                    <li style="margin-left: 40px; color: #828282;">
                        No voted news available.
                    </li>
                {% endfor %}
            </ol>
        {% else %}
            <div style="margin-left: 40px; color: #828282;">
                Log in to view your voted news.
            </div>
        {% endif %}
    </div>
{% endblock %}
